<%- include('header.ejs') %>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap justify-center">
     
      <div class="bg-gray-100 rounded-lg p-8 flex flex-col">
        <h2 class="text-gray-900 font-medium title-font mb-5 text-center text-2xl"><i class="fa fa-book h-11"></i> Welcome to Blog-Share</h2>
        <div class=" h-5"><hr></div>
        <a href="/auth/google" class="text-white bg-red-600 border-0 py-2 px-8 focus:outline-none hover:bg-red-700 rounded-lg text-xl text-center ">	
          <i class="fa fa-google"> Login </i></a>

        <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
      </div>
    </div>
  </section>

</body>
</html>